.extensionLineCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  cursor: crosshair;
  background-color: transparent;
  pointer-events: all;
}

.textInputContainer {
  position: absolute;
  border: 2px solid #3498db;
  background-color: rgb(255 255 255 / 0.8);
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.textInput {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: transparent;
  outline: none;
}

.finishButton {
  position: absolute;
  bottom: -40px;
  right: 0;
  min-width: 60px;
  height: 28px;
  padding: 5px 10px;
  margin: 0;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 1px 3px rgb(0 0 0 / 0.3);
  box-sizing: border-box;

  &:hover {
    background-color: #2980b9;
  }
}