.textLayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 1;
  line-height: 1;
  user-select: text;
  pointer-events: auto;
  z-index: 2;
  transform-origin: 0 0;

  span {
    color: transparent;
    background-color: transparent;
    display: inline-block;
    cursor: text;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 0;
    box-decoration-break: clone;
    user-select: text;

    &::selection {
      background-color: rgb(0 100 255 / 0.5);
      color: transparent;
      text-shadow: none;
      padding: 2px;
      box-shadow: 0 0 2px rgb(0 100 255 / 0.3);
    }

    &:hover {
      outline: 1px solid rgb(0 0 0 / 0.1);
    }
  }
}

.selectionCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  touch-action: none;
  z-index: 3;
}